.button {
  cursor: pointer;
  display: flex;
  padding: 18px 22px;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 24px;
  background-color: #001455;
  color: #fff;
  letter-spacing: 0.14px;
  font-weight: 600;
  transition: all 0.3s ease-out;
  box-shadow: -3px 6px 10px 0 #00000029;
  width: fit-content;
  // min-width: 124px;

  .icon {
    margin-left: 12px;
    display: flex;
    align-items: center;
    fill: #fff;

    svg {
      width: 16px;
    }
  }

  &:disabled {
    background-color: $gray;
    border-color: $gray;
    cursor: unset;
  }

  &--light {
    background-color: #293990;
  }

  &--green {
    background-color: #0d9a17;

    &:hover {
      background-color: #015707;
    }
  }

  &--empty {
    background-color: transparent;
    border: 1px solid #293990;
    color: $dark;
    padding: 17px 22px;

    .icon {
      fill: $dark;
    }
  }
}
