.footer {
  padding-top: 58px;
  padding-bottom: 23px;
  background-color: $dark;
  color: #d4d4d4;

  .logo {
    height: 24px;
  }

  .header {
    margin-bottom: 23px;
    max-width: 200px;

    .title {
      font-size: 14px;
      margin-bottom: 15px;

      &--small {
        font-size: 10px;
        margin-bottom: 23px;
      }
    }

    & .title,
    p {
      color: #d4d4d4;
    }

    p {
      font-size: 12px;
    }
  }

  a {
    font-size: 14px;
    color: #d4d4d4;

    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }

  address {
    font-size: 14px;
    line-height: 28px;
    font-style: normal;

    a {
      color: inherit;
    }
  }

  .links {
    align-items: flex-start;

    li {
      margin: 0;
    }
    a {
      font-weight: 400;
    }
  }
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 42px;

  input {
    width: 100%;
    border: 1px solid #16f47f;
    height: 40px;
    background: $dark;
    color: #d4d4d4;
    padding-left: 20px;
    font-size: 14px;
    width: 180px;

    &::placeholder {
      color: #d4d4d4;
    }
  }

  .logo {
    place-self: start end;
  }

  &__button {
    grid-column: 1 / span 2;
    width: 120px;
    height: 40px;
    color: #d4d4d4;
    margin-top: 23px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4f4f4f;
  }
}

@media screen and (min-width: $lg) {
  .footer {
    padding-top: 75px;
    padding-bottom: 45px;

    .gutters {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      margin-left: 0;
    }

    h1 {
      margin-bottom: 33px;
    }

    .links {
      flex-direction: column;

      &__item {
        margin-left: 0;
      }
    }
  }

  .subscribe {
    order: 4;
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    input {
      width: 210px;
    }

    .logo {
      place-self: start start;
    }

    &__button {
      grid-column: 2;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $xxl) {
  .footer {
    padding-left: calc(2 * var(--gutters));
    padding-right: calc(2.6 * var(--gutters));
  }
}
