ul {
  list-style-type: none;
}
.navigation {
  color: #fff;
  display: flex;
  overflow-x: hidden;
  user-select: none;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  z-index: 2;

  .gutters--p {
    width: 100%;
    padding-left: var(--gutters);
    padding-right: var(--gutters);
  }

  &--mobile {
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 72px;

    .logo {
      opacity: 1;
      transition: all 0.3s ease-out;
      height: 18px;
    }

    & .navigation__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: auto;
      // height: 100%;
      width: 100%;

      & > * {
        display: flex;
        width: 100%;
      }
    }
  }

  button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
  }

  &__background {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 120%;
    height: 100vh;
    transform: translateX(100%);
  }

  .relative {
    display: flex;
  }
  .menu {
    display: flex;
    margin: auto 1rem auto 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  &--open {
    height: 100vh;
    justify-content: end;
  }
}
.navigation--desktop {
  display: none;
}
.x {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &--open {
    .logo {
      height: 32px;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  color: $dark;
  z-index: 2;

  li {
    margin-top: 35px;
    font-size: 18px;
  }

  a {
    color: $dark;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    &:hover {
      text-decoration: underline;
      color: $dark;
    }
  }
}

.icon {
  fill: #fff;
  stroke-width: 2;

  &:focus {
    outline: none;
  }

  &--close {
    fill: $dark;
  }
}

@media screen and (min-width: $lg) {
  .navigation {
    overflow-x: hidden;

    .logo {
      height: 30px;
    }

    .gutters {
      width: 100%;
      margin-left: 108px;
    }

    &__content {
      display: flex;
      // justify-content: flex-end;
      align-items: center;
      justify-content: space-between;
      // width: 180px;
      // height: 100%;
    }
    &__background {
      display: none;
    }
  }
  .mobile-nav-wrapper {
    display: none;
  }
  .navigation--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    margin-top: 57px;
  }
  .links {
    text-transform: uppercase;
    align-items: start;
    flex-direction: row;
    color: #fff;
    margin-top: 0;
    width: auto;
    text-transform: unset;

    li,
    & a {
      display: flex;
      // width: 100%;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0;
      margin-top: 0;
    }

    &__item {
      margin-left: 3rem;
      cursor: pointer;
      position: relative;
    }
  }
}

@media screen and (min-width: $xxl) {
  .navigation--desktop {
    .logo {
      height: 40px;
    }
    .gutters {
      margin-left: var(--gutters);
    }
    .navigation__content {
      margin-left: var(--gutters);
    }
  }
}

//---------- height queries ---------------

@media screen and (min-height: $sm) {
  .navigation--desktop {
    // padding: 200px 0 120px 0;
  }
  .navigation__content {
    justify-content: space-between;
  }
}
