.picker {
  .header {
    margin-left: var(--gutters);
    margin-right: var(--gutters);
    margin-bottom: 20px;
  }

  &__step {
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
    max-width: 100vw;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  &__button {
    cursor: pointer;
    opacity: 0.6;
    fill: transparent;
    // stroke: $green;

    &:hover {
      fill: $green;
    }
  }
}

@media screen and (min-width: $lg) {
  .picker {
    padding-left: var(--gutters);
    padding-right: var(--gutters);
    padding-top: var(--gutters);
    padding-bottom: var(--gutters);

    &__step {
      position: relative;
    }
    &__image {
      position: static;
    }
    .header {
      margin-top: 50px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      .title,
      h3,
      p {
        color: #fff;
      }
    }
  }
}
