.team {
  display: flex;
  padding-bottom: 18px;
  padding-top: 3rem;

  .header {
    position: relative;
    padding-top: 24px;
    margin-bottom: 34px;

    &::before {
      content: "";
      display: flex;
      width: 168px;
      height: 7px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $dark;
    }
  }
}

.teamMember {
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  color: $dark;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  picture {
    width: 115px;
    height: 115px;
    background-color: #fac;
    margin-right: 2rem;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    font-size: 1.25rem;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
  }

  span,
  a {
    font-size: 0.875rem;
    line-height: 1.5rem;

    &:first-of-type {
      margin-bottom: 6px;
    }
  }
  a {
    color: $dark;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $md) {
  .team {
    display: grid;
    row-gap: 38px;
    grid-template-columns: 1fr 1fr;
  }
  .teamMember {
    place-self: start start;
    margin: 0;
  }
}

@media screen and (min-width: $lg) {
  .team {
    row-gap: 65px;

    .header {
      place-self: center start;
    }
  }

  .teamMember {
    picture {
      width: 168px;
      height: 168px;

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    h3 {
      font-size: 25px;
      line-height: 30px;
    }

    span,
    a {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (min-width: $xxl) {
  .team {
    padding-left: var(--gutters);
    padding-right: var(--gutters);
  }

  .teamMember {
    picture {
      width: 260px;
      height: 260px;
    }
  }
}
