.text {
  &--green { 
    color: $green !important;
  }
  &--gray {
    color: $gray !important;
  }
  &--pink {
    color: $pink !important;
  }
  &--dark-blue {
    color: $dark !important;
  }
}
.relative {
  position: relative;
}
