$dark: #060f2d;
$blue: #122172cb;
$green: #16f47f;
$pink: #ff1d8e;
$gray: #efefef;
$background: #f7f7f7;
$header-p: #333333;
$square-bgc: #1237b21c;

:root {
    --dark: $dark;
    --green: $green;
}

$xs: 576px;
$sm: 768px;
$md: 1120px;
$lg: 1366px;
$xl: 1440px;
$xxl: 1800px;

$gutters: 36px;
$gutters-lg: 120px;
$gutters-xl: 240px;
